$base-font-family: 'Roboto-Light', sans-serif;
$secondary-font-family: 'PlayfairDisplay-Regular', sans-serif;
$base-font-size:   14px;
$base-line-height: 25px;

$text-color: #fff;
$text-color-secondary: #413d4b;
$brand-color: #00e0d0;
$color-bg-layer: #23164e;